xml-resources/web-service-references/AcessoControle/wsdl/localhost_8080/estacionamento/AcessoControle.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.controlador.dynatec.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.controlador.dynatec.com.br/" name="AcessoControle">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.controlador.dynatec.com.br/" schemaLocation="http://localhost:8080/estacionamento/AcessoControle?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="br.com.dynatec.helper.fianceiro.ExtratoDiario" schemaLocation="http://localhost:8080/estacionamento/AcessoControle?xsd=2"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="consultaCartao">
<part name="parameters" element="tns:consultaCartao"/>
</message>
<message name="consultaCartaoResponse">
<part name="parameters" element="tns:consultaCartaoResponse"/>
</message>
<message name="processaCartao">
<part name="parameters" element="tns:processaCartao"/>
</message>
<message name="processaCartaoResponse">
<part name="parameters" element="tns:processaCartaoResponse"/>
</message>
<message name="recuperaTabelas">
<part name="parameters" element="tns:recuperaTabelas"/>
</message>
<message name="recuperaTabelasResponse">
<part name="parameters" element="tns:recuperaTabelasResponse"/>
</message>
<message name="registrarMovimento">
<part name="parameters" element="tns:registrarMovimento"/>
</message>
<message name="registrarMovimentoResponse">
<part name="parameters" element="tns:registrarMovimentoResponse"/>
</message>
<message name="extratoDia">
<part name="parameters" element="tns:extratoDia"/>
</message>
<message name="extratoDiaResponse">
<part name="parameters" element="tns:extratoDiaResponse"/>
</message>
<portType name="AcessoControle">
<operation name="login">
<input wsam:Action="http://ws.controlador.dynatec.com.br/AcessoControle/loginRequest" message="tns:login"/>
<output wsam:Action="http://ws.controlador.dynatec.com.br/AcessoControle/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="consultaCartao">
<input wsam:Action="http://ws.controlador.dynatec.com.br/AcessoControle/consultaCartaoRequest" message="tns:consultaCartao"/>
<output wsam:Action="http://ws.controlador.dynatec.com.br/AcessoControle/consultaCartaoResponse" message="tns:consultaCartaoResponse"/>
</operation>
<operation name="processaCartao">
<input wsam:Action="http://ws.controlador.dynatec.com.br/AcessoControle/processaCartaoRequest" message="tns:processaCartao"/>
<output wsam:Action="http://ws.controlador.dynatec.com.br/AcessoControle/processaCartaoResponse" message="tns:processaCartaoResponse"/>
</operation>
<operation name="recuperaTabelas">
<input wsam:Action="http://ws.controlador.dynatec.com.br/AcessoControle/recuperaTabelasRequest" message="tns:recuperaTabelas"/>
<output wsam:Action="http://ws.controlador.dynatec.com.br/AcessoControle/recuperaTabelasResponse" message="tns:recuperaTabelasResponse"/>
</operation>
<operation name="registrarMovimento">
<input wsam:Action="http://ws.controlador.dynatec.com.br/AcessoControle/registrarMovimentoRequest" message="tns:registrarMovimento"/>
<output wsam:Action="http://ws.controlador.dynatec.com.br/AcessoControle/registrarMovimentoResponse" message="tns:registrarMovimentoResponse"/>
</operation>
<operation name="extratoDia">
<input wsam:Action="http://ws.controlador.dynatec.com.br/AcessoControle/extratoDiaRequest" message="tns:extratoDia"/>
<output wsam:Action="http://ws.controlador.dynatec.com.br/AcessoControle/extratoDiaResponse" message="tns:extratoDiaResponse"/>
</operation>
</portType>
<binding name="AcessoControlePortBinding" type="tns:AcessoControle">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultaCartao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="processaCartao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="recuperaTabelas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarMovimento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="extratoDia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AcessoControle">
<port name="AcessoControlePort" binding="tns:AcessoControlePortBinding">
<soap:address location="http://localhost:8080/estacionamento/AcessoControle"/>
</port>
</service>
</definitions>