src/META-INF/wsdl/localhost_8080/estacionamento/MovimentoCaixa.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.controlador.dynatec.com.br/" xmlns:ns1="br.com.dynatec.helper.fianceiro.ExtratoDiario" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.controlador.dynatec.com.br/">

<xs:import namespace="br.com.dynatec.helper.fianceiro.ExtratoDiario" schemaLocation="http://localhost:8080/estacionamento/MovimentoCaixa?xsd=2"/>

<xs:element name="extratoDia" type="tns:extratoDia"/>

<xs:element name="extratoDiaResponse" type="tns:extratoDiaResponse"/>

<xs:element name="extratoDiario" type="ns1:extrado"/>

<xs:element name="movimento" type="tns:movimento"/>

<xs:element name="movimentoCaixa" type="tns:movimentoCaixa"/>

<xs:element name="registrarMovimento" type="tns:registrarMovimento"/>

<xs:element name="registrarMovimentoResponse" type="tns:registrarMovimentoResponse"/>

<xs:element name="retornoHelper" type="tns:retornoHelper"/>

<xs:element name="retornoMovimentoCaixaHelper" type="tns:retornoMovimentoCaixaHelper"/>

<xs:complexType name="extratoDia">
<xs:sequence>
<xs:element name="dataTransacao" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="extratoDiaResponse">
<xs:sequence>
<xs:element name="return" type="ns1:extrado" minOccurs="0"/>
</xs:sequence>
</xs:complexType>


<xs:complexType name="retornoHelper" abstract="true">
<xs:sequence>
<xs:element name="mensagem" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="movimento">
<xs:sequence>
<xs:element name="tipoMovimento" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarMovimento">
<xs:sequence>
<xs:element ref="tns:movimentoCaixa" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="movimentoCaixa">
<xs:sequence>
<xs:element name="ativo" type="xs:boolean" minOccurs="0"/>
<xs:element name="createdAt" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dataMovimento" type="xs:dateTime" minOccurs="0"/>
<xs:element name="desconto" type="xs:double" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="mensalisa" type="xs:boolean" minOccurs="0"/>
<xs:element name="mensalista_id" type="xs:int" minOccurs="0"/>
<xs:element name="nomePessoa" type="xs:string" minOccurs="0"/>
<xs:element name="observacao" type="xs:string" minOccurs="0"/>
<xs:element name="tipoMovimento" type="tns:tipoMovimento" minOccurs="0"/>
<xs:element name="troco" type="xs:double" minOccurs="0"/>
<xs:element name="updatedAt" type="xs:dateTime" minOccurs="0"/>
<xs:element name="usuario_id" type="xs:int" minOccurs="0"/>
<xs:element name="valor" type="xs:double" minOccurs="0"/>
<xs:element name="valorAReceber" type="xs:double" minOccurs="0"/>
<xs:element name="valorRecebido" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarMovimentoResponse">
<xs:sequence>
<xs:element name="return" type="tns:retornoMovimentoCaixaHelper" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retornoMovimentoCaixaHelper">
<xs:complexContent>
<xs:extension base="tns:retornoHelper">
<xs:sequence>
<xs:element ref="tns:movimentoCaixa" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:simpleType name="tipoMovimento">
<xs:restriction base="xs:string">
<xs:enumeration value="DEPOSITO"/>
<xs:enumeration value="RETIRADA"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>